modules = ["vue-node-20", "nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd server && npm install && npm start"]
build = ["sh", "-c", "cd client && npm install && npm run build"]

[workflows]
runButton = "Start Client"

[[workflows.workflow]]
name = "Start Server"
author = 40684964
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd server && npm install && node server.js"

[[workflows.workflow]]
name = "Start Client"
author = 40684964
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run serve -- --host 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 8080
externalPort = 80
